#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include "keys_es.h"
#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Shift/Caps Lock Tap Dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
            bindings = <
&kp TAB       &kp Q  &kp W  &kp E           &kp R  &kp T                             &kp UP                &kp Y      &kp U  &kp I         &kp O    &kp P           &kp BSPC
&kp LCTRL     &kp A  &kp S  &kp D           &kp F  &kp G                   &kp LEFT  &kp ENTER  &kp RIGHT  &kp H      &kp J  &kp K         &kp L    &kp ES_N_TILDE  &kp SQT
&kp LEFT_ALT  &kp Z  &kp X  &kp C           &kp V  &kp B      &kp SPACE              &kp DOWN              &kp N      &kp M  &kp ES_COMMA  &kp DOT  &kp ES_MINUS    &kp ESC
                            &kp LEFT_SHIFT  &mo 1  &kp SPACE                                               &kp ENTER  &mo 2  &kp LGUI
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        lower_layer {
            display-name = "NUMBER";
            bindings = <
&trans  &kp N1       &kp N2        &kp N3        &kp N4        &kp N5                                         &mmv MOVE_UP                     &kp N6    &kp N7    &kp N8  &kp N9     &kp N0  &kp DELETE
&trans  &kp ES_PLUS  &kp ES_ASTRK  &kp ES_SLASH  &kp ES_CARET  &kp DELETE                     &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &none   &none
&trans  &none        &none         &none         &kp ES_EQUAL  &none       &rgb_ug RGB_TOG                    &mmv MOVE_DOWN                   &none     &none     &none   &none      &none   &none
                                   &trans        &trans        &trans                                                                          &none     &none     &trans
            >;

            sensor-bindings = <&rgb_encoder>;
        };

        raise_layer {
            display-name = "SYMBOL";
            bindings = <
&trans  &kp ES_INVERTED_EXCLAMATION  &kp ES_EXCLAMATION   &kp ES_INVERTED_QUESTION  &kp ES_QUESTION           &none                                &mmv MOVE_UP                     &kp ES_PIPE  &kp ES_BACKSLASH  &none             &none          &none  &kp BSPC
&trans  &kp ES_LEFT_BRACE            &kp ES_RIGHT_BRACE   &kp ES_LEFT_BRACKET       &kp ES_RIGHT_BRACKET      &none                &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp ES_AT    &kp ES_POUND      &kp ES_AMPERSAND  &kp ES_DOLLAR  &none  &none
&trans  &kp ES_LESS_THAN             &kp ES_GREATER_THAN  &kp ES_LEFT_PARENTHESIS   &kp ES_RIGHT_PARENTHESIS  &none      &trans                    &mmv MOVE_DOWN                   &none        &none             &none             &none          &none  &none
                                                          &trans                    &trans                    &kp SPACE                                                             &kp RET      &trans            &trans
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        layer_3 {
            display-name = "Fn";
            bindings = <
&studio_unlock  &kp F1      &kp F2     &kp F3       &kp F4     &kp F5                                  &mmv MOVE_UP                     &kp F6       &kp F7     &kp F8       &kp F9      &kp F10          &kp F11
&trans          &trans      &mkp LCLK  &mkp MCLK    &mkp RCLK  &mkp MB4                &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &bootloader  &mkp LCLK  &mkp MCLK    &mkp RCLK   &kp PRINTSCREEN  &kp F12
&trans          &sys_reset  &trans     &bootloader  &trans     &mkp MB5  &kp C_MUTE                    &mmv MOVE_DOWN                   &trans       &trans     &bootloader  &sys_reset  &kp SCROLLLOCK   &kp PAUSE_BREAK
                                       &trans       &trans     &trans                                                                   &trans       &trans     &trans
            >;

            sensor-bindings = <&scroll_encoder>;
        };
    };
};
